@page
@model ChatWebMvc.Pages.Admin.AccountManageModel
@{
    ViewData["Title"] = "账户管理";
}

<h1 class="display-4">账户管理</h1>

<p><a asp-page="./Index">🡐 返回</a></p>

<p>
    <ul>
        @if (TempData["Message"] != null)
        {
            <li style="color: @(TempData["MessageColor"] ?? "green");">@TempData["Message"]</li>
        }
    </ul>
</p>

<table class="table">
    <thead>
        <tr>
            <th>用户名</th>
            <th>邮箱</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>
                <form method="post">
                    <input type="hidden" name="id" value="@user.Id" />
                    @if (user.IsBanned)
                    {
                        <button asp-page-handler="Pardon" type="submit" class="btn btn-success btn-sm">解封</button>
                    }
                    else
                    {
                        <button asp-page-handler="Ban" type="submit" class="btn btn-danger btn-sm">封禁</button>
                    }
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

<style>
    td {
        vertical-align: middle;
    }
    button:disabled {
        cursor: not-allowed;
    }
</style>
